body {
	margin: 0;
	padding: 0;
	/*
	background: black;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 11pt;
	color: #000000;
}

.sav2-top-header {
	background-color: #eee;
	color: #bbb;
	text-shadow: 1px 1px 0px #fff;
}

.sav2-service-title {
	display: -ms-grid;
	-ms-grid-columns: min-content 1fr min-content min-content;
	display: grid;
	grid-template-columns: min-content 1fr min-content min-content;
}

.sav2-service-title .item {
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* IE11 solution for grid start: */
.sav2-service-title .item1 {
	-ms-grid-column: 1;
}

.sav2-service-title .item2 {
	-ms-grid-column: 2;
}

.sav2-service-title .item3 {
	-ms-grid-column: 3;
}

.sav2-service-title .item4 {
	-ms-grid-column: 4;
	padding-left: 25px;
}
/* IE11 solution for grid end; */

.fa-node {
	transition: color 1s;
}

.fa-node:hover {
	color: #43853d;
}

.sav2-version-control {
	text-align: right;
	padding: 20px 20px;
}

.sav2-main-cont {
	margin-top: 30px;
}

#showTab1,
#showTab2,
#showTab3,
#showTab4,
#showTab5 {
	margin-bottom: 10px;
}

.sav2-admin-wa .sav2-tab2,
.sav2-admin-wa .sav2-tab3,
.sav2-admin-wa .sav2-tab4,
.sav2-admin-wa .sav2-tab5,
.sav2-admin-wa .sav2-tab6,
.sav2-admin-wa .sav2-tab7 {
	display: none;
}

.sav2-editcont-table .phonenum {
	white-space: nowrap;
}

.sav2-upd-cont, 
.sav2-del-cont, 
.sav2-upd-group , 
.sav2-del-group {
	margin-right: 5px;
	margin-bottom: 5px;
}

.sav2-srch-cont, 
.sav2-send-searchgroup, 
.sav2-send-searchcont {
	margin-bottom: 10px;
}

.tag {
	display: inline-block !important;
	padding: 5px !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
} 

.sav2-send-choosegroup .btn-success {
	margin-right: 5px;
}

.sav2-send-choosegroup .btn-info, 
.sav2-send-choosegroup .btn-danger{
	margin-right: 20px;
}

.contacts-list {
	background-color: #eee;
	font-size: 12px;
}

.contacts-list .btn {
	font-size: 12px;
}

.sav2-pages-contInGroup-send {
	margin: 0;
}

.sav2-send-choosecont .btn-success{
	margin-right: 5px;
}

.sav2-send-choosecont .btn-danger {
	margin-right: 20px;
}

.sav2-row-textinfo {
	display: inline-block;
	padding: 10px 0 0 0;
}

.sav2-label {
	font-size: 14px;
}

.sav2-pages-group-send,
.sav2-pages-cont-send  {
	margin: 0;
}

.bootstrap-tagsinput input {
	/*min-width: 250px;*/
}

#light_cover {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 65534;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

.light_cover_info {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sav2-infobox-info .glyphicon {
	font-size: 22px;
	margin-right: 10px;
}

/*NEW*/
.sav2-premise-content,
.sav2-device-content {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 20px 0;
	margin-bottom: 10px;
}

.sav2-inn-group {
	margin-bottom: 20px;
}

.sav2-inn-group .bootstrap-tagsinput {
	min-width: 160px;
}

.sav2-opt-btn {
	margin-right: 5px;
	margin-bottom: 5px;
}

.sav2-contract-color-red {
	color: rgba(255,0,0,0.5);
}

.sav2-contract-color-green {
	color: rgba(0,155,0,0.5);
}

.col-srch {
	margin-top: 15px;
}

#tab6-checkbox .checkbox {
	background-color: #eee;
	white-space: nowrap;
	margin: 0;
}

#tab6-checkbox .checkbox label {
	padding: 5px 0px 5px 25px;
}

.sav2-color-crimson {
	color: #e14747;
}

.sav2-color-bluestrict {
	color: #477fe1;
}

.sav2-color-greenforest {
	color: #28956d;
}

.sav2-color-lightgray {
	color: #aaa;
}

.sav2-error {
	font-size: 22px;
}

.sav2-upd-user,
.sav2-lock-user,
.sav2-unlock-user {
	font-size: 20px;
	min-width: 50px;
}

.sav2-edit-user-table table tr td {
	vertical-align: middle;
}

#addRecord ul li {
	margin-bottom: 10px;
}

.sav2-object-li {
	margin-bottom: 10px;
}

.sav2-object-li .label,
#addRecord .label {
	display: inline-block;
	padding: 2px 6px 3px;
	line-height: normal;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
	cursor: pointer;
}

.clear {
	clear: both;
}
